@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
/**********************/
/* ALL DOCUMENT */
/**********************/


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

/**********************/
/* NAVBAR */
/**********************/



a {
    text-decoration: none;
}

header{

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #a90707;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);

}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    z-index: 100;
}

.logo{
    height:6rem;
    vertical-align: middle;
}


.group{
    display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #5b5959;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menuToggle{
    position: relative;
    display: none;
}


/**********************/
/* LANDING  */
/**********************/

.main-section{
    height: 90rem;
    background: linear-gradient(0deg, #212529, #212529 40%, #2A3556);;

}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;

}

.showcase-area .container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}



.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #d50000;
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1)
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.btn:link,
.btn:visited{
    display: inline-block;
    background-color: #4DAAF2;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
    border-radius: 30px;
    transition: background-color 0.3s;


}

.btn--full:hover,
.btn--full:visited{
    background-color: dodgerblue;
    color: white;

}

.btn--full{
    margin-left: -7vh;
    margin-top: 2rem;
}



.big-title {
    font-size: 2.4rem;
    color: white;
    margin-left: -5rem;
    line-height: 1.4;
}

.text {
    color: #7a7a7a;
    font-size: 1.6rem;
    margin-top: 1.9rem;
    margin-bottom: 2.5rem;
    margin-left: -5rem;
    max-width: 600px;
    line-height: 2.3;
    z-index: 10;
}



.cover {
    margin-top: 30rem;
    max-width: 100%;
    width: 130%;
    transform: translate(15%, 25px);

}

/**********************/
/* WHO ARE US PAGE */
/**********************/


.classic-section{
    height: 90rem;
    background: #212529;
}

.description{
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 1.9rem;
    margin-left: -5rem;
    max-width: 600px;
    line-height: 1.5;
    text-align: justify;
}

.features{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;


}

.features-card{
    background-color: #2A3556;
    width: 25rem;
    font-size: 1.5rem;
    height: 30rem;
    padding: 1.5em;
    max-width: 33rem;
    border-radius: 6rem;
    margin-left: -95vh;
    margin-top: 10vh;


}

.eco-card{
    background: #2A3556;
    margin-top: -50.5vh;
    margin-left: 0;
}

.sec-card{
    background-color: #2A3556;
    margin-top: -50.5vh;
    margin-left: 95vh;
}


.ino-icon{
    padding-top: 2rem;
    max-width: 100%;
    width: 50%;
    margin-left: 5rem;

}

.eco-icon{
    padding-top: 1.5rem;
    width: 50%;
    margin-left: 5rem;
    max-width: 100%;
    margin-bottom: 1.1rem;

}

.sec-icon{
    padding-top: 2.1rem;
    width: 45%;
    margin-left: 5rem;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.know-more-ino{

    font-size: 1.2rem;
    margin-top: 10rem;
    color: red;
    text-align: center;

}

.know-more-eco  {

    font-size: 1.2rem;
    margin-top: 8rem;
    color: #14c900;
    text-align: center;
}

.know-more-sec  {
    font-size: 1.2rem;
    margin-top: 7.8rem;
    color: #67c2ff;
    text-align: center;
}

.quality{
    font-size: 1.6rem;
    text-align: center;
    color: white;
}


/***************************************/
/* OUR SECURITY PAGE  */
/***************************************/

.security-title{

    margin-bottom: 3rem;
}



#sec-img{
    width: 50%;
    margin-left: 55vh;
    margin-top: -5vh;

}




/**********************/
/* RESPONSIVE DESIGN LANDING PAGE  */
/**********************/


@media(max-width:1500px) {
    .menuToggle{
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;

    }
    header .navigation
    {
        left: 100%;
        position: absolute;
        opacity: 0;
        visibility: hidden;


    }

    header.open .navigation{
        top: 90px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: calc(100vh - 90px);
        padding: 40px;
        border-top: 1px solid rgba(0,0,0,0.05);
        z-index: 100;

    }



    header.open .navigation li a{
        font-size: 1.25em;
    }
}





@media screen and (max-width: 1365px) {

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }



    .big-wrapper.active .overlay {
        pointer-events: all;
        opacity: 1;
    }

    .showcase-area {
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;

    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }

    .big-title {
        margin-top: 15vh ;
        margin-left:2.5vh;
        font-size: 1.9rem;
    }

    .features-card{
        max-width: 33rem;
        width: 20rem;
    }

    .ino-icon{
        margin-left: 4rem;
    }

    .presentation-title,
    .security-title,
    .eco-title,
    .ino-title ,
    .solution-title{
        margin-top: -15vh;
    }


    .text {
        font-size: 1.5rem;
        margin-left: 2.5vh;


    }


    .cover {
        width: 100%;
        margin-top: 0;
        transform: none;
        z-index: 10;
    }



    .btn:link,
    .btn:visited{
        font-size: 1.2rem;
        padding: 1.6rem 3.2rem;
        border-radius: 30px;
        transition: background-color 0.3s;


    }

    .btn--full{
        margin-left: 2vh;
        z-index: 10;
    }


}


/***************************************/
/* RESPONSIVE DESIGN WHO ARE US PAGE  */
/***************************************/





@media screen and (max-width: 1365px) {
    .presentation-title{
        margin-left: 2.5vh;
        font-size: 1.9rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .description{
        display: block;
        margin: auto;
    }

    .eco-card,
    .sec-card{
        visibility: hidden;
    }

    .ino-card{
        align-content: center;
        margin: 3rem auto ;

    }
}


/***************************************/
/* RESPONSIVE DESIGN SECURITY PAGE  */
/***************************************/
@media screen and (max-width: 1365px){
    .security-title{
        margin-left: 2.5vh;
        font-size: 1.9rem;
        text-align: center;
        margin-bottom: 4rem;
    }


    #sec-img{
        display: block;
        margin: auto;
    }

}

